.icon-48-easyquickicons {
	background-image: url(../../../../../../administrator/components/com_easyquickicons/assets/images/icon-48-easyquickicons.png);
}
.eqi_footer{
	margin: 0 auto;
	text-align: center;
}